/*
----------------------------------------------
 CleanSlateCSS / DEMO container styles
 Developed by Ollie Bettany / Dharmafly
 Created: 26/01/10
----------------------------------------------
*/

/* styles for existing basic demo */

	#intro {
      	padding:0.3em;
      	background-color:#ccc;
	  	margin-bottom: 10px;
    }
	
		#intro a,
		#intro span {
		  	margin-left: 10px;
		}

 

/* RESET CSS BY ERIC MEYER */
/* http://meyerweb.com/eric/tools/css/reset/ */
/* v1.0 | 20080212 */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define focus styles! */
:focus {
	outline: 0;
}

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

/* tables still need 'cellspacing="0"' in the markup */

table {
	border-collapse: collapse;
	border-spacing: 0;
}


	body {
		background-image: url(../images/bg-main.png);
		border-top: 4em solid #000;
		font-family: Arial, Helvetica, sans-serif;
		font-size: 67.5%;
	}	
	
	#wrapper {
		margin: 0 auto;
		width: 1022px;
	}

	
/* top nav */

	#nav {
		position: relative;
		top: -2.2em;	
		font-size: 1.3em;
	}

		#nav ul {
			float: right;
			margin-right: 38px;
		}
		
		#nav li {
			list-style: none;
			float: left;
			margin-left: 20px;
			background: url(../images/icon-sprite.png) no-repeat left -79px;
			padding-left: 20px;
		}
		
		#nav li.first {
			background: none;
			padding-left: 0;
		}
		
		#nav a {
			color: #999;
			text-decoration: underline;
			display: block;
			padding: 2px 0 1.5em 0;
		}
		
		#nav a:hover {
			text-decoration: none;
		}
		
		#nav li.current a {
			color: #cdff03;
			text-decoration: none;
			font-weight: bolder;
			background: url(../images/icon-sprite.png) no-repeat center bottom;
		}
		
/* HEADER */
	
	#header {
		position: relative;
		margin: 0 38px 0 48px;
		min-height: 219px;
	}
	
		#header h1 {
			display: block;
			text-indent: -1000em;
			background: url(../images/logo.png) no-repeat;
			width: 254px;
			height: 76px;
			position: absolute;
			top: 36px;
		}
		
	#header p {
		position: absolute;
		right: 0;
		top: 148px;
		color: #cdff03;
		font-style: italic;
		font-size: 1.8em;
		width: 636px;
		text-align: center;
	}
		
/* progress nav */
	
	#progress {
		position: absolute;
		right: 0;
		top: 50px;
		list-style: none;
		text-transform: uppercase;
	}
		
		#progress li {
			float: left;
			padding-left: 30px;
			background: url(../images/bullet-progress-nav.png) no-repeat 14px 25px;
		}
		
		#progress li.first {
			padding-left: 0;
			background: none;
		}
		
			#progress li .inner,
			.button {
				background: url(../images/progress-nav-left.png) no-repeat left top;
				height: 58px;
				display: block;
			}
		
				#progress li .inner a,
				.button span {
					background: url(../images/progress-nav-right.png) no-repeat right top;
					display: block;
					text-transform: uppercase;
					color: #000;
					padding: 23px 23px 0 12px;
					height: 35px;
					text-decoration: none;
					font-weight: bolder;
					font-size: 1.3em;
					margin-left: 11px;
					text-shadow: #cacaca 2px 2px 2px;
				}
				
					#progress li .inner a span {
						background: #fff url(../images/bg-step-number.png) no-repeat;
						border: 1px solid #939298;
						border-radius: 12px;
						-moz-border-radius: 12px;
						-webkit-border-radius: 12px;
						color: #333;
						width: 20px;
						height: 16px;
						display: block;
						text-align: center;
						float: left;
						margin: -4px 10px 0 0;
						font-size: 0.8em;
						font-weight: normal;
						padding: 4px 0 0 1px;
					}
			
			#progress li .inner,
			.button {
				background-position: left bottom;
			}
			#progress li .inner:hover,
			.button:hover {
				background-position: left -58px;
			}
			#progress li.current .inner {
				background-position: left top;
			}
			
				#progress li .inner a,
				.button span {
					background-position: right bottom;
				}
				#progress li .inner:hover a,
				.button:hover span {
					background-position: right -58px;
				}
				#progress li.current .inner a {
					background-position: right top;
				}
		
/* utility nav */

	#utility {
		position: absolute;
		list-style: none;
		position: absolute;
		top: 152px;
		text-transform: uppercase;
		font-size: 1.1em;
		font-weight: bolder;
	}
	
		#utility li {
			float: left;
			margin-right: 20px;
		}
		
			#utility li a {
				background: url(../images/icon-sprite.png) no-repeat;
				padding-left: 20px;
			}
			#utility li a:hover {
				text-decoration: none;
			}
		
			#utility li.notes a {
				color: #cfdf8e;
				background-position: left -35px;
			}
			
			#utility li.source a {
				color: #98cadb;
				background-position: left 3px;
			}


/* DEMO CONTAINER */

		#content {
			background: url(../images/bg-demo-top.png) no-repeat left top;
			padding-top: 9px;
		}
		
		#content-inner {
			background: url(../images/bg-demo.png) repeat-y left top;
			padding-left: 7px;
		}
		
		#demo {
			background-image: url(../images/bg-sample.png);
		}
		
			
/* FOOTER */

	#footer {
		color: #999;
		width: 100%;
		background: #000;
		font-size: 1em;
	}
	
		#footer .container {
			width: 1022px;
			margin: 50px auto 0;
			min-height: 3em;
			padding: 35px 48px 20px 38px;
			background: #000;
		}
	
		#footer ul {
			list-style: none;
			display: block;
			float: right; 
		}
	
		#footer li {
			float: left;
			margin-left: 10px;
			background: url(../images/icon-sprite.png) no-repeat left -81px;
			padding-left: 10px;
		}
		
		#footer li.first {
			padding-left: 0;
			background: none;
		}
		
		#footer a {
			color: #999;
			text-decoration: none;
		}
		
		#footer a:hover {
			text-decoration: underline;
		}
		
		#footer li.df {
			background: none;
			margin-top: -2px;
			padding-left: 0;
		}

			#footer li.df a {
				color: #A6C664;
				font-weight: bold;
				background-color: white;
				text-transform: uppercase;
				text-decoration: none;
				opacity: 0 .8;
				line-height: 0.9em;
				display: block;
				min-height: 1em;
				font-family: Verdana, Arial, Helvetica, sans-serif;
				font-size: 0.8em;
				padding: 2px;
			}
			
			#footer li.df a:hover {
				text-decoration: none;
			}
			#footer li.df a:hover {
				opacity: 1;
				background-color: #A6C664;
				color: white;			
			}
			
/* OVERLAY MSGS */

		#noscript-msg {
			display: none;
		}
		
		.hide {
			display: none;
		}
		
		.overlay {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 30px;
			background: url(../images/bg-overlay.png);
		}
		
		.overlay-inner {
			padding: 40px;
			width: 420px;
			margin: 100px auto;
			background-color: #fff;
			text-align: center;
			border-radius: 10px;
			-moz-border-radius: 10px;
			-webkit-border-radius: 10px;
			border: 1px solid #fff;
			color: #fff;
			background-image: url(../images/bg-main.png);
		}
		
			.overlay h2 {
				font-size: 2.2em;
				margin-bottom: 20px;
				text-transform: uppercase;
			}
			
			.overlay p {
				font-size: 1.7em;
				margin-bottom: 30px;
			}
			
			.overlay .button {
				text-decoration: none;
				margin: 0 auto;
				width: 196px;
			}
			
				.overlay .button span {
					width: 150px;
				}
