/*
----------------------------------------------
 CleanSlateCSS / DEMO container IE7 styles
 Developed by Ollie Bettany / Dharmafly
 Created: 26/01/10
----------------------------------------------
*/

/* HEADER */

	#header p {
		margin-top: 36px;
	}
	
					#progress li .inner a:hover span {
						cursor: pointer;
					}
					
/* CONTENT */

	#content {
		margin-bottom: 50px;
	}
	
	
/* FOOTER */
	
		#footer .container {
			margin-top: 0;
		}