/*
----------------------------------------------
 CleanSlateCSS / DEMO container IE8 styles
 Developed by Ollie Bettany / Dharmafly
 Created: 26/01/10
----------------------------------------------
*/
