/*
----------------------------------------------
 CleanSlateCSS / WIREFRAMES styles
 Developed by Ollie Bettany / Dharmafly
 Created: 26/01/10
----------------------------------------------
*/

/* styles for existing basic demo */

	#intro {
      	padding:0.3em;
      	background-color:#ccc;
	  	margin-bottom: 10px;
    }
	
		#intro a,
		#intro span {
		  	margin-left: 10px;
		}
